body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

footer{
    margin-top: auto;
}

#messages{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 1% auto;
    background-color: #212529;
    border-radius: 15px;
}

