.cart-container{
    display: flex;
    width: 70%;
    margin: 5% auto;
    justify-content: space-evenly;
    color: #f8f9fa;
}

.total-container{
    min-height: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.checkoutBtn{
    width: 75%;
    align-self: center;
}
.total-h{
    align-self:center;
}
.checkoutBtn:hover{
    color: #f8f9fa;
    background-color: #212529;
}

.header-container{
    display: flex;
    width: 70%;
    margin: 5% auto;
    color: #f8f9fa;
    flex-direction: column;
}