{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Home {% endblock%}</title>
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'core/base/base.css'%}">
    <link rel="stylesheet" href="{% static 'core/navbar/navbar.css'%}">
    <link rel="stylesheet" href="{% static 'core/footer/footer.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body{
            background-image: url('{% static 'img/bg-main.png'%}');
            background-position:  center;
        }
    </style>
    {% block links%}

    {% endblock %}
</head>
<body>
    {% include "navbar.html" %}
    
    
    {% if messages %}
    <div id="messages">
        {% for message in messages %}
        <h5 class="text-light m-2" id="{{message.tags}}">{{message}}</h5>
        {% endfor %}
    </div>
    {% endif %}
    

    {% block content %}
    
    {% endblock %}
    
    {% include "footer.html" %}


    <script src="{% static 'Bootstrap/js/bootstrap.js' %}"></script>
    {% block scripts %}

    {% endblock %}
    
</body>
</html>
