{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Home {% endblock%}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'core/base/base.css'%}">
    <link rel="stylesheet" href="{% static 'core/navbar/navbar.css'%}">
    <link rel="stylesheet" href="{% static 'core/footer/footer.css'%}">

    <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getToken('csrftoken');
    </script>
    {% block links%}

    {% endblock %}
</head>
<body>
    {% include "navbar.html" %}
    
    
    {% if messages %}
    <div id="messages">
        {% for message in messages %}
        <h5 class="text-light m-2" id="{{message.tags}}">{{message}}</h5>
        {% endfor %}
    </div>
    {% endif %}

    
    {% block content %}
    {% endblock %}
    
    {% include "footer.html" %}

    <script src="{% static 'Bootstrap/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'cart/js/cart.js' %}"></script>
    {% block scripts %}

    {% endblock %}
    
</body>
</html>
