<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="{% url 'index' %}">E-Gaming Store</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Steam Cards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">VPN</a>
          </li>   
          <li class="nav-item">
            <a class="nav-link" href="#">Valorant</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">League Of Legends</a>
          </li>

        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </div>

    <button id="menuBtn" class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
      <div class="menu"></div>
      <div class="menu"></div>
      <div class="menu"></div>
    </button>

<div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header text-light">

    {% if request.user.is_authenticated %}
    <h5 id="offcanvasRightLabel">Hello {{request.user.username}}</h5>
    {% else %}
    <h5 id="offcanvasRightLabel">Join us now</h5>
    {% endif %}


    <button type="button" class="btn-close btn-close-white text-reset " data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <!-- body items here -->
    {% if request.user.is_authenticated %}

    {% if request.user.is_superuser %}
    <div id="access">
    <button class="btn btn-dark access-btn"><a class="access-link" href="admin/">Admin Panel</a></button>
    <button class="btn btn-dark access-btn"><a class="access-link" href="">Feedbacks</a></button>
    </div>
    <hr class="text-light">
    {% endif %}

    {% else %}
    <div id="access"> 
      <button class="btn btn-dark access-btn"><a class="access-link" href="{% url 'login' %}">Login</a></button>
      <button class="btn btn-dark access-btn"><a class="access-link" href="{% url 'register' %}">Register</a></button>
    </div>
    <hr class="text-light">
    {% endif %}
      
    {% if request.user.is_authenticated %}
        <!-- Cart -->
        <div class="cart">

          <div class="cart-icon-div">
            <i class="fa fa-shopping-cart" style="font-size:48px; width: 50px; color: #f8f9fa;"></i>
            <div class="circle">{{numberOfItems}}</div>
          </div>
        <hr class="text-light">

    {% for cartItem in userCartItems %}
    <div class="delete-div">
      <a href=""><i class="fa fa-trash mb-2 delete-item text-light" aria-hidden="true" style="font-size:20px; width: 20px;"></i></a>
    </div>
    <div class="cart-items">
      {% if cartItem.product.image %}
        <img src="{{cartItem.product.image.url}}" class="cart-item-img" alt="product-img" >
      {% endif %}
      <div class="cart-items-details">
        <p class="cart-item-detail">Name: {{cartItem.product.name}}</p>
        <p class="cart-item-detail">Price: {{cartItem.product.price}}</p>
      </div>
    </div>
    <hr class="text-light">
    {% endfor %}

    <div class="logout-div">
      <button class="btn btn-dark access-btn"><a class="access-link" href="{% url 'logout' %}">Logout</a></button>
    </div>
     
    {% endif %}

    </div>

  </div>
</div>

  </nav>