{% extends "base.html" %}
{% load static %}
{% block title %}
Steam Cards
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'core/index/index.css' %}">
<link rel="stylesheet" href="{% static 'core/productsCards/productsCards.css' %}">
{% endblock %}


{% block content %}

    <div class="container" style="display: flex; justify-content: center; width: 1140px; flex-direction: column; margin-top: 50px; margin-bottom: 50px;">
        <h1 style="color: white !important; font-family: sans-serif !important; margin-bottom: 50px; font-weight: bold;">{{valorantVP.first.category.name}}</h1>
        <div style="display: flex; flex-direction: row; align-content: space-between; width: 1140px;">
            {% for product in valorantVP %}
            <div style="background-color: #212529; width: 370px; margin-bottom: 15px; margin-right: 15px;">
                <div style="display: flex; flex-direction: column; margin: 15px;">
                    {% if product.image %}
                    <img src="{{product.image.url}}" alt="" style="height:217px; margin-bottom: 20px;" >
                    {% endif %}
                    <p class="productDescription" style="color: white;">{{product.name}}</p>
                    <p class="productDescription" style="color: white;"> <span class="tag">EGP</span> {{product.price}}</p>
                    {% if product.stock > 0 %}
                    <p class="productDescription" style="color: white;">Stock: <span class="text-success" style="">in Stock</span></p>
                    {% else %}
                    <p class="productDescription" style="color: white;">Stock: <span class="text-danger">Out of Stock</span></p>
                    {% endif %}
                    <button type="button" data-product={{product.id}} class="btn btn-outline-secondary add-btn update-cart">Add to cart</button>
                    
                </div>
            </div>
                {% endfor %}
            </div>
        

    </div>


{% endblock %}


{% block scripts %}


{% endblock %}



