a{
    color: #f8f9fa !important;
}

a:hover{
    color: #f8f9fa !important;
}

.nav-item{
    margin: 0px 10px;
}

.nav-item:hover{
    background-color: #f8f9fa;
}

.nav-link:hover{
    color: #212529 !important;
}

.menu{
    width: 35px;
    height: 5px;
    background-color: #f8f9fa;
    margin: 4px 0;
}

#menuBtn:hover{
    background-color: #f8f9fa !important;
}
#menuBtn:hover div{
    background-color: #212529;
}